@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#list {
    margin-left: 30%;
    margin-right: 30%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #faedc5;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*text-align: center;*/
    padding: 30px;
}


nav {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

nav a {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: #111;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


nav a:hover {
    background-color: #f7931a;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    margin: 25px 0;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}


.image-container img {
    width: 250px;
    transition: all 0.3s ease;
    border-radius: 15%;
}


.image-container img:hover {
    transform: scale(1.08) rotate(2deg);
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
}


p {
    max-width: 700px;
    line-height: 1.6;
    margin: 20px 0;
}

h3 {
    padding-bottom: 5%;
    padding-top: 5%;
}

hr {
    width: 60%;
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #e7820e;
}


footer {
    margin-top: 30px;
    text-align: center;
}

footer a {
    color: #e7820e;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;

}
