#row {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.nav:hover {
    transform: scale(1.5);
    color: red;
}


h2 {
    display: flex;
    justify-content: center;
    color: white;
}

h1 {
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

#otterlogo {
    display: flex;
    justify-content: center;
}

figure:hover {
    transform: scale(1.2);
    color: red;
}

#main {
    background-color: rgb(26, 26, 121);
}

footer {
    background-color: black;
}

#footerp {
    color: grey;
}

body {
    background-color: black;
}